.footer {
    background-color: $color-secondary;
    grid-column: full-start / full-end;

    padding: 8rem;
    background-color: $color-secondary;

    .nav {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: 2rem;

       

        &__link {
            &:link,
            &:visited {
                font-size: 1.4rem;
                color:#fff;
                font-family: "Josefin Sans", sans-serif;
                text-decoration: none;
                text-transform: uppercase;
                padding: 1.5rem;
                text-align: center;
                display: block;
                transition: all .2s;
            }

            &:hover {
                background-color: rgba($color: #FFF, $alpha: .05);
                transform: translateY(-3px);
            }

        }
    }





    .copyright {
        color: #aaa;
        font-size: 1.4rem;
        margin-top: 6rem;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 70%;
    }
}


